<!DOCTYPE html>
<html>
        <head> 
                <base href="/">               
                <link type="text/css" rel="stylesheet" href="style.css" />
                <title> CinemaSeat Startseite</title>
            <%- include('../navbar')%> 
        </head>
        
    
        <body> 
            <div class="box">
                <form action="/addMovie" method="POST">
                <div class="input-container">
                    <label for="Filmtitel">Filmtitel</label> <br>
                    <input type="text" name="filmtitel"> 		
                </div>
                <div class="input-container">		
                    <label for="Filmbeschreibung">Filmbeschreibung</label> <br>
                <input type="text" name="Filmbeschreibung" >
                </div>
                <div class="input-container">
                    <label for="Eintrittspreis">Eintrittspreis</label> <br>
                    <input type="text" name="eintrittspreis">
                </div>
                <div class="input-container">
                <label for="Kennung">Kennung</label> <br>
                <input type="text" name="kennung" >
                </div>
                <div class="input-container">
                    <label for="trailer">Link zum Trailer(Youtube):</label> <br>
                    <input type="text" name="trailer">
                </div>
                <div class="input-container">
                    <label for="banner">  Link zum Fotobanner</label> <br>
                    <input type="text" name="fotourl">
                </div>
    
                <button type="submit" class="button"> Film hinzufügen</button>
            </form>	
            </div>


            <div class=""></div>
        <table cellpadding="0" cellspacing="0" border ="0">
            <thead>
                <tr>
                  <th>filmtitel</th>
                  <th>beschreibung</th>
                  <th>eintrittspreis</th>
                  <th>trailer</th>
                  <th> </th>
                </tr>
              </thead>
            </table>
        </div>

                
        <div class="tbl_content">
            <% for(var i = 0; i < allMovies.length; i++) { %>
        <table cellpadding="0" cellspacing="0" border="0">
        <tbody>

        <tr>
            <td><%= allMovies[i].filmtitel%></td> 
            <td><%= allMovies[i].beschreibung%></td> 
            <td><%= allMovies[i].eintrittspreis%></td>
            <td><%= allMovies[i].trailer%></td>
            <td><form action="/goto_edit_movie" method="POST"> <button type="submit" name="edit_movie" value= <%= allMovies[i].kennung %> class="button">  Bearbeiten</button></form></div> </td>
            <td><form action="/goto_delete_movie" method="POST"> <button type="submit" name="delete_movie" value= <%= allMovies[i].kennung %> class="button">  Löschen</button></form></div> </td>
           
        </tr>
        </tbody>   
    </table> 
</div>
</section>


        <% } %>

    </table>
</div>
</body>
</html>