<!DOCTYPE html>
<html>
        <head> 
                <base href="/">               
                <link type="text/css" rel="stylesheet" href="style.css" />
                <title> CinemaSeat Startseite</title>
            <%- include('../navbar')%> 
        </head>
        
        <table cellpadding="0" cellspacing="0" border ="0">
            <div class="tbl-header">
                <tr>
                  <th>Vorname</th>
                  <th>Nachname</th>
                  <th>E-Mail</th>
                  <th>Benutzerrolle</th>
                  
                </tr>
            </div>
            <br>
            <div class="tbl_content">
                <% for(var i = 0; i < allUsers.length; i++) { %>
           

            <tr>
                <td><%= allUsers[i].vorname%></td> 
                <td><%= allUsers[i].nachname %></td> 
                <td><%= allUsers[i].email   %></td>
                <td><%= allUsers[i].rolle   %></td>
                <td><form action="/goto_user_manager_edit" method="POST"> <button type="submit" name="edit_user" value=<%= allUsers[i].email %> class="button">Bearbeiten</a></td>
                <td><form action="/goto_delete_account_admin" method="POST"> <button type="submit" name="delete_user" value=<%= allUsers[i].email %> class="button">  Löschen</button></form></div> </td>
            </tr>

            <% } %>
             </div>
        </table>
           
      
            <h2> <%= fehlertext %> </h2>
            <a href="/goto_add_user" class="button">Benutzer Hinzufügen</a>
            <a href="/goto_account_settings" class="button">Kontoeinstellungen</a>
            



</html>