<!DOCTYPE html>
    <html>

        <head> 
            <base href="/">               
            <link type="text/css" rel="stylesheet" href="style.css" />
            <title> Kontoeinstellungen</title>
            <%- include('../navbar')%> 
    </head>
       

    <body>
        <h1>Benutzerkonto</h1>
        <h2>
            <p></p>
            Vorname: <%=sessionVariables.userName%>
            <p></p>
            Nachname: <%=sessionVariables.userLastname%>
            <p></p>
            Email: <%=sessionVariables.userEmail%> 
            <p></p>
            </p>
        </h2>
        <h2>
            <% switch (sessionVariables.role) {
                case 'admin' : %>
                <a href="/goto_user_manager" class="button">Benutzerverwaltung</a>
                <form action="/goto_edit_account" method="POST"> <a class="button">  <button class="button" type="submit" name="edit_user" value= <%= sessionVariables.userEmail %> > Kontodaten ändern</button> </form>  
                <a href="/goto_delete_account" class="button">Konto Löschen</a>
                <a href="/getmovie_manager" class="button">Filmprogramm bearbeiten</a>
                        <% break;
                
                case 'user' : %>
                <form action="/goto_edit_account" method="POST"> <button class="button"  type="submit" name="edit_user" value= <%= sessionVariables.userEmail %> > Kontodaten ändern</button> </form>  
                <a href="/goto_delete_account" class="button">Konto Löschen</a>
                <a href="/getmovie_manager" class="button">Filmprogramm bearbeiten</a>
                        <% break;
                
                } %>


        <p></p>
       
        <p></p>
        <a href="/goto_logout" class="button">Logout</a>   
        </h2>
    </body>



</html>