<!DOCTYPE html>
    <html>

        <head> 
            <base href="/">               
            <link type="text/css" rel="stylesheet" href="style.css" />
            <title> Mein Konto</title>
            <%- include('../navbar')%>
    </head>

    <h1>Konto bearbeiten</h1>



        <body>
           
            <% switch (sessionVariables.role) {
                case 'admin' : %>
                <div class="box">
                    <form action="/edit_account" method="POST">
                    <div class="input-container">
                        <label for="Vorname">Vorname</label> <br>
                        <input type="text" name="vorname" placeholder=" <%=sessionVariables.userName%> "> 		
                    </div>
                    <div class="input-container">		
                        <label for="Nachname">Nachname</label> <br>
                    <input type="text" name="nachname" placeholder=" <%=sessionVariables.userLastname%>" >
                    </div>
                    <div class="input-container">
                        <label for="Email">Email</label> <br>
                        <input type="email" name="email" placeholder="<%=sessionVariables.userEmail%>" >
                    </div>
                    <div class="input-container">
                    <label for="Passwort">Passwort Ändern</label> <br>
                    <input type="password" name="passwort_neu" placeholder="Neues Passwort">
                    <br>
                    <br>
        
                    <div class="input-container">
                        <select name="rolle">
                            <option value="user">Benutzer</option>
                            <option value="admin">Administrator</option>
                        </select>
                    </div>
                
                    </div>
                    
        
                    <button type="submit" class="button"> Übernehmen</button>
                </form>	
                </div>
                        <% break;
                
                case 'user' : %>
                <div class="box">
                    <form action="/edit_account" method="POST">
                    <div class="input-container">
                        <label for="Vorname">Vorname</label> <br>
                        <input type="text" name="vorname" placeholder=" <%=sessionVariables.userName%> "> 		
                    </div>
                    <div class="input-container">		
                        <label for="Nachname">Nachname</label> <br>
                    <input type="text" name="nachname" placeholder=" <%=sessionVariables.userLastname%>" >
                    </div>
                    <div class="input-container">
                        <label for="Email">Email</label> <br>
                        <input type="email" name="email" placeholder="<%=sessionVariables.userEmail%>" >
                    </div>
                    <div class="input-container">
                    <label for="Passwort">Passwort Ändern</label> <br>
                    <input type="password" name="passwort_neu" placeholder="Neues Passwort">
                    <br>
                    <br>
        
                
                    <input type="password" name="passwort" placeholder="Änderungen mit Passwort bestätigen" required> 
                    </div>
                    
        
                    <button type="submit" class="button"> Übernehmen</button>
                </form>	
                </div>
                        <% break;
                
                } %>

           

            <h2> <%= fehlertext %> </h2>

            <p></p>
            <div class="input-container">
            <a href="/goto_account_settings" class="button">Kontoeinstellungen</a>
            <a href="/goto_logout" class="button">Logout</a>   
         </div>


     

            

        </body>


</html>